//fonts
$heading: "Italiana", serif;
$heading2: "Kaisei HarunoUmi", serif;
$menu: "Junge", serif;
// Colors
$olive: #9e6c16;
$strong-wine: #b11226;
$dark-wine: #58181f;
$card-dark-wine: #140305;
$card-dark-wine-hover: #240609;
$dark: #120204;
$lblue: #0075c4;

//Estilos generales
@mixin shop-button {
  text-decoration: none;
  color: white;
  align-self: flex-start;
  padding: 0.5rem 1.2rem;
  border-radius: 1.2rem;
  background-color: $lblue;
  transition: 250ms ease-in-out;

  &:hover {
    background-color: white;
    color: $dark-wine;
  }
}
